body{
    background-color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

}

h1{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
.mascota__principal img {
    display:block;
    margin:auto;
}

.mascota__principal h2{
    text-align: center;
    font-size: 30px;

}

.mascota__principal p{
    text-align: center;
    font-size: 20px;
}

.mascota__principal .contenedor{
    background-color: steelblue;
    width: 500px;       
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    border: solid 1px #c2bdbd;
}

.mascota__principal img{
    width: 25%;
    padding-bottom: 20px;
}
.mascota__principal, p h2{
    color: white;
}

.animalitos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.card{
    display: grid;
    background-color: rgba(125, 187, 187, 0.432);
    padding: 20px;               
    margin: 10px;
    border-style: dotted;
    color: white;
    font-weight: bold;

}

.btn_class{
    display:flex;
    background-color: rgba(54, 124, 124, 0.356);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    
}

#Instagram{
    color:white;
    margin: 20px;
    padding: 20px;
    background: linear-gradient(90deg, rgba(0,142,171,1) 10%, rgba(185,4,200,1) 49%, rgba(240,97,11,1) 74%, rgba(242,239,29,1) 98%);
    border: solid 1px rgb(255, 255, 255);
    font-size: 20px;
}
#Facebook{
    color:white;
    padding: 20px;
    margin: 20px;
    background-color: rgb(43, 121, 223);
    border: solid 1px rgb(255, 255, 255);
    font-size: 20px;
}
#Tiktok{
    color:white;
    padding: 20px;
    margin: 20px;
    background-color: rgb(0, 0, 0);
    border: solid 1px rgb(255, 255, 255);
    font-size: 20px;
}